@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/roboto/Roboto-Thin.ttf') format('truetype'),
    url('../assets/fonts/roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../assets/fonts/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../assets/fonts/roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'icons';
    src: url('../assets/fonts/boilerplate/fonts/boilerplate.ttf') format('truetype'),
    url('../assets/fonts/boilerplate/fonts/boilerplate.woff'),
    url('../assets/fonts/boilerplate/fonts/boilerplate.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/** HEADER **/

h1, h2, h3{
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    color: var(--font-pr-clr);
    padding-top: 20px;
}

/** INPUTS **/
select,
input[type='text'],
input[type='email'],
input[type='date'],
input[type='tel'],
input[type='password'],
input[type='number'],
textarea {
    display: block;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    -webkit-appearance: none;
    background-color: var(--pr-clr);
    border: 1px solid var(--scnd-clr);
    padding: 5px 15px;
    outline: 0;
    color: var(--font-pr-clr);
    font-size: var(--font-14px);
    font-weight: normal;
    box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
&:focus{
     border:1px solid var(--scnd-clr);
 }
&:disabled{
     background-color: var(--pr-clr);
 }
}


input[type='date']:before{
    content: attr(placeholder);
    text-align: left;
    position: relative;
    margin-right: 10px;
    color: var(--font-pr-clr);
    font-size: var(--font-14px);
    float: left;
}

::-webkit-input-placeholder {
    color: var(--font-thrd-clr);
}

::-moz-placeholder {
    color: var(--font-thrd-clr);
}

:-moz-placeholder {
    color: var(--font-thrd-clr);
}

:-ms-input-placeholder {
    color: var(--font-thrd-clr);
}

:global(.btn-scs) {
    background-color: var(--third-clr);
    border: none;
    color: var(--font-scnd-clr);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 0.5rem;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    &:hover {
     background-color: color(var(--third-clr) lightness(65%))
    }

    &:focus {
         outline:0;
    }
}

:global(.logo) {
    display: block;
    width: 75px;
    height: 75px;
    background-image: url('../assets/images/spotim-logo.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}

:global(.align-left) {
    text-align: left;
}

:global(.align-right) {
    text-align: right;
}
input {
    &:global(.invalid) {
        border-color: var(--error-clr);
    }
}

:global(.error-message){
    color: var(--error-clr);
    background-color: white;
    width: 100%;
    margin: 0 auto;
    position: relative;
    bottom: 5px;
    font-size: var(--font-14px);
}

html, body {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height:100vh;
    font-family: var(--sans-font-family);
    font-weight: 300;
    background-color: var(--pr-clr);
}